    <p><%= notice %></p>
      <% @topics.each do |topic| %>
        <% if topic.user == current_user || (topic.user.following?(current_user) && current_user.following?(topic.user)) %>

       <%= link_to user_topics_path(topic.user.id) do %>
         <p><%= profile_img(topic.user, "25x25") if profile_img(topic.user, "25x25") %><%= topic.user.name %></p>
       <% end %>

        <% if topic.image? %>
            <%= image_tag topic.image ,width:"200" %>
          <% end %>
          <p><%= link_to "#{topic.content}", user_topic_path(topic.user, topic.id)  %><p>
        <% end %>
    <% end %>
