<div class="container">
  <div class="wrapper col-md-6 col-md-offset-2 col-sm-10">
    <p class="notice"><%= notice %></p>
    <div class='login-area'>
      <h4>認証メール再送信</h4>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        </div>
        <div class="actions">
          <%= f.submit "認証メールを送信する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
