<div class='comment_area'>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
        <p style="margin-bottom:5px"><%= profile_img(comment.user, "20x20") if profile_img(comment.user, "20x20") %>
        <%= comment.user.name %></p>
        <div class='comment-time'>
          <p><%= comment.updated_at %></p>
        </div>
          <p><%= comment.content %></p>
        <% if current_user.id == comment.user.id %>
            <%= link_to '削除', user_topic_comment_path(current_user, topic, comment), method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' }, class:'btn btn-info btn-sm' %>
          </p>
        <% end %>
    <% end %>
  <% end %>
</div>
