    <p><%= notice %></p>
    <h3><%= profile_img(@user, "40x40") if profile_img(@user, "40x40") %>
    <%= @user.name %></h3>
    <% if @user.confirmed_at && @user != current_user %>
       <% if @user.following?(current_user) %>
          <p><span style="color:red;">あなたをフォローしています</span></p>
       <% end %>
       <%= render '/users/follow_form', user: @user %>
    <% end %>
      <% if @user == current_user || (@user.following?(current_user) && current_user.following?(@user)) %>
        <% @topics.each do |topic| %>
          <%= link_to user_topic_path(topic.user.id, topic.id) do %>
            <% if topic.image? %>
              <%= image_tag topic.image ,width:"200" if topic.image %>
            <% end %>
            <p><%= topic.content %><p>
          <% end %>
        <% if topic.comments.count > 0 %>
          <p>コメント   <%= topic.comments.count %>件</p>
        <% end %>
        <% if @user == current_user %>
        <%= link_to "編集", edit_user_topic_path(current_user.id, topic.id)  %>
        <%= link_to "削除", user_topic_path(topic.user, topic.id), method: :delete ,data: { confirm:"本当に削除していいですか?" } %><br>
        <% end %>
     <% end %>
    <% end %>
