<div class="container">
  <div class="wrapper col-md-6 col-md-offset-2 col-sm-10">
    <p id="notice"><%= notice %></p>
    <div class='top-area'>
      <h3><%= profile_img(@user, "40x40") if profile_img(@user, "40x40") %>
      <%= @user.name %></h3>
      <p><%= @topic.content %></p>
      <% if @topic.image? %>
      <%= image_tag @topic.image ,width:"400" %>
      <% else %>
      <%= image_tag 'noimage.gif' %>
      <% end %>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic, user:@topic.user } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic , user:@topic.user } %>
      <%= link_to '編集', edit_user_topic_path(@topic.user,@topic), class:'btn btn-primary' %>
      <%= link_to '戻る', :back, class:'btn btn-primary' %>
    </div>
  </div>
</div>
