<p id="notice"><%= notice %></p>
      <p class="left"><strong>内容</strong></p>
      <p class="left"><%= @topic.content %></p>
      <p class="right">
        <strong>作成時間:</strong>
        <%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
      <% if @topic.image? %>
      <%= image_tag @topic.image ,width:"200" %>
      <% else %>
      <%= image_tag 'noimage.gif' %>
      <% end %>

    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic, user:@topic.user } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic , user:@topic.user } %>
    <%= link_to '編集', edit_user_topic_path(@topic.user,@topic) %>
    <%= link_to '戻る', user_topics_path %>
