<p id="notice"><%= notice %></p>
      <p class="left"><strong>内容</strong></p>
      <p class="left"><%= @topic.content %></p>
      <p class="right">
        <strong>作成時間:</strong>
        <%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    <%= link_to '編集', edit_topic_path(@topic) %> |
    <%= link_to '戻る', topics_path %>
