  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user. confirmed_at %>
        <%= profile_img(user, "40x40") if profile_img(user, "40x40") %>
          <p><%= user.name %></p>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
         </div>
     <% if user != current_user %>
       <%= render 'follow_form', user: user %>
     <% end %>
   <% end %>
  <% end %>
  <%= link_to '戻る', topics_path %>
