  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.confirmed_at && user != current_user %>
       <%= link_to user_topics_path(user.id) do %>
         <p><%= profile_img(user, "25x25") if profile_img(user, "25x25") %><%= user.name %>
       <% end %>
       <% if user.following?(current_user) %>
          <span style="color:red;">あなたをフォローしています</span>
       <% end %>
      </p>
        <%= render 'follow_form', user: user %>
   <% end %>
 <br>
  <% end %>
  <%= link_to '戻る', user_topics_path(current_user.id) %>
