<!DOCTYPE html>
<html>
<head>
  <title>Dive203</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <li><%= link_to 'ホーム', root_path %></li>
<% if user_signed_in? %>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  <li><%= link_to 'ユーザー一覧', users_path %></li>
  <li><%= link_to 'ユーザー情報', edit_user_registration_path %></li>
  <li><%= link_to "メッセージ", conversations_path %></li>
  <li><%= link_to "トピックを作成する", new_user_topic_path(current_user.id) %></li>
<% else %>
  <li><%= link_to 'ログイン', new_user_session_path  %></li>
  <li><%= link_to 'サインアップ', new_user_registration_path %></li>
<% end %>

<%= yield %>

</body>
</html>
